$color-white: #fff;
$color-primary-light: #e79696;
$color-primary: #dd7976a4;
$color-secondary: rgb(185, 55, 55);
$color-tertiary: #660303;
$color-back: rgba(255, 255, 255, 0.685);
$color-dark: rgba(58, 58, 58, 0);

$width-button: 150px;
