.robot-img{
    display: block;
    position: relative;
}

.photo{
    width: 10em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: $color-white;
    display: inline;
    border-color: rgba(100, 66, 66, 0.685) ;
    position: relative;
}

#rogue-gallery{
    margin-top: 2em;
    float: right;
    background-color: rgba(255, 255, 255, 0.685);
}