    p{
    margin-left: 4em;
    margin-right: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    }

    .lede{ 
        text-decoration: none;
        color: $color-white;
        font-family: sans-serif;
    }

    a{ 
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        text-align: center
    }

    .main{
        .article-title{
            @include style-title-text;
        }
    
    }

    .rb-header{
        text-align: center;
    }

    .rb-h1{
        margin-top: 10px;
        margin-bottom: 10px;
        @include style-title-text;
    }